<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/new" method="post">//버튼을 눌러서 액션이 일어나면, members/new의 post방식으로 넘어감.그래서 postmapping
                                                //postmapping은 데이터를 조회할때 쓰임.
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>